<!--The content below is only a placeholder and can be replaced.-->
<div class="background"></div>
<div class="content">
  <div style="text-align:center">
    <img width="300" alt="D3 Logo" 
      height="150px" width="150px"
      src="../assets/d3.svg">
  </div>

  <h2>Chart Samples</h2>
  <div class="list-item"><img class="thumbnail" src="../assets/lineChart.png"></div>
  <div class="list-item"><img class="thumbnail" src="../assets/barChart.png"></div>
  <div class="list-item"><img class="thumbnail" src="../assets/pieChart.png"></div>
  <div class="list-item"><img class="thumbnail" src="../assets/doughnut.png"></div>
  
  <app-charts></app-charts>

  <router-outlet></router-outlet>
</div>